/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Vika's custom styles
   ========================================================================== */
body
{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: white; 
}

h1
{
    font-size: 33px;
    font-weight: normal;
} 

h2
{
    font-size: 30px;
    font-weight: normal;
} 

h3
{
    font-size: 20px;
    font-weight: 600;
    color: blue;
} 

h4
{
    font-size: 16px;
    font-weight: 550;
} 

/*b 
{
    font-weight: 200px;
}*/

/*---------------------------------------------------*/

header 
{
    background-color: #ffffff;
}

header input
{
    border: 1px solid #d6d8d2;
    border-radius: 6px;
    line-height: 18px;
}

header button
{
    border: none;
    background: none;
    cursor: pointer;
}

header button span
{
    content: url('../img/searchBtn.png');
    position: relative;
    right: 35px;
    top: 1px;
}

header button:before
{
   content: url('../img/search_line_devider.png');
   position: relative;
    right: 38px;
   top: 6px;
}

header button:active, header button:focus
{
    border: none;
}

/*---------------------------------------------------*/
 
.slideShow
{
    background-image: url('../img/slide-bg-complexity.jpg');
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.slideNoteContainer
{
    display: inline-block;
}

.slideSquare
{
    display: block;
    border-radius: 1px;
    background-color: rgb(245, 245, 245);
    height: 10px;
    width: 10px;
    margin-bottom: 4px;
}

.slideSquare:first-child
{
    background-color: rgb(22, 138, 197);
}

.slideShowSlides
{
    border-radius: 5px;
    width: 246px;
    height: 165px;
    padding-top: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    transition: all 0.3s ease-out;
    box-shadow: 2px 4px 15px  2px grey;
    /*word-spacing: 2px;*/
}

.slideShowSlides a
{
    position: relative;
    top: 3px;
    font-size: 14px;
    font-weight: 600;
}

.slideShowSlides p
{
    position: relative;
    bottom: 6px;
}


.slideShowSlides a:before
{
    content: url('../img/link-icon-image.png');
    position: relative;
    top: 8px;
    right: 5px;
}

.pink
{
    background-color: rgba(245, 35, 140, 0.9); 
}

.pink:hover
{
    background-color: rgb(245, 35, 140);
}

.green
{
    background-color: rgba(106, 196, 60, 0.9); 
}

.green:hover
{
    background-color: rgb(106, 196, 60);
}

.orange
{
    background-color: rgba(255, 117, 24, 0.9); 
}

.orange:hover
{
    background-color: rgb(255, 117, 24);
}

.btn
{
    display: block;
    padding: 9px;
    border-radius: 7px;
    background-color: rgba(17, 133, 192, 0.85);
    border: none;
    font-size: 14px;
}

.slideShow .btn 
{
    width: 135px; 
}

.btn:hover
{
    background-color: rgba(28, 145, 204, 0.85);
}

.btn:after 
{
    content: url('../img/btnArrow.png');
    position: relative;
    float: right;
    top: 1px;
}

.btn:active , .btn:target
{
    border: hidden;
}

.solutions 
{
    background: url("../img/weDoBG.png"),      
    radial-gradient(#59BEDB 0%, #3399CC 100%);
    color: white;
    text-align: center;
}

.BusinessStimulatingAnalytics
{
    content: url("../img/solution_icon_biz-analitics.png");
}

.BusinessStimulatingAnalytics:hover
{
    content: url("../img/solution_icon_biz-analitics_hover.png");
}

.DigitalCustomerExperience
{
    content: url("../img/solution_icon_diti-cx.png");
}

.DigitalCustomerExperience:hover
{
    content: url("../img/solution_icon_diti-cx_hover.png");
}

.SmartMonetization
{
    content: url("../img/solution_icon_smart-money.png");
}

.SmartMonetization:hover
{
    content: url("../img/solution_icon_smart-money_hover.png");
}

.OptimazationAndEfficiency
{
    content: url("../img/solution_icon_optimize-efficnt.png");
}

.OptimazationAndEfficiency:hover
{
    content: url("../img/solution_icon_optimize-efficnt_hover.png");
}

.PersonalizedChoiceControl
{
    content: url("../img/solution_icon_personal.png");
}

.PersonalizedChoiceControl:hover
{
    content: url("../img/solution_icon_personal_hover.png");
}

.BusinessTransformation
{
    content: url("../img/solution_icon_biz-transform.png");
}

.BusinessTransformation:hover
{
    content: url("../img/solution_icon_biz-transform_hover.png");
}

.solutions .btn 
{
    width: 180px;
}   

.events
{
    background-image: url('../img/news-and-events-bg.jpg');
    background-position: center;
    background-attachment: fixed;
    color: white;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
