/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Vika's custom styles
   ========================================================================== */
body
{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: white; 
}

h1
{
    font-size: 35px;
    font-weight: normal;
    margin-top: 0;
    position: relative;
    padding-bottom: 10px;
    top: 40px;
} 

h2
{
    font-size: 28px;
    font-weight: normal;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
} 

h3
{
    font-size: 20px;
    font-weight: 600;
    color: blue;
} 

h4
{
    font-size: 16px;
    font-weight: 550;
} 

input[type=checkbox]
{
    display: none;
}

.centerBlock
{
    margin-left: auto;
    margin-right: auto;
    width: 985px;
}

.hamburger-nav ~ ul, .mobile-search-input
{
    display: none;
}

/*-------------------header----------------------*/

header
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 100%;
    vertical-align: bottom;
    padding-bottom: 10px;
    color: black;
}

header > *
{
    display: inline-block;
}

header a
{
    color: black;
}

header img:nth-of-type(2)
{
    display: none;
}

header img:first-of-type
{
    display: inline-block;
}

.desktop-nav
{
    display: inline-block;
    vertical-align: bottom;
}

.mobile-nav
{
    display: none;
}

.desktop-nav > *
{
    display: inline-block;
}

.desktop-nav div span
{
    cursor: pointer;
}

.desktop-nav div span:hover
{
    text-decoration: underline;
}

.desktop-nav ul
{
    margin-bottom: 0;
    padding-left: 15px;
}

.desktop-nav ul ul
{
    display: none;
    position: absolute;
    padding-left: 0;
}

.desktop-nav ul ul li:hover a
{
    display: block;
    color: blue;
    background-color: rgb(240, 240, 240);
    width: 100%;
}

.desktop-nav > ul > li:hover
{
    color: blue;
}

.desktop-nav ul > li:hover > ul, .desktop-nav ul > li:focus > ul  
{
  display: block;
  width: 100%;
  color: blue;
  text-decoration: underline;
}

.desktop-nav ul > li:hover li
{
    background-color: white;
    color: black;
    width: 100%;
    margin:0;
    border: 1px solid grey;
    border-top: none;
    z-index: 10;
}

.desktop-nav li
{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    top: 4px;
    cursor: pointer;
}

.desktop-nav > ul > li:nth-of-type(1):after, .desktop-nav > ul > li:nth-of-type(2):after, .desktop-nav > ul > li:nth-of-type(3):after
{
    content: url('../img/search_line_devider.png');
    position: relative;
    top: 4px;
    left: 10px;
}

.desktop-nav div 
{
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.desktop-nav div > span:first-of-type:after
{
    content: url('../img/navCollapseArrowBottom.png');
    position: relative;
    bottom: 4px;
    margin-left: 4px;
    margin-right: 10px;
}

.desktop-nav div > span:nth-of-type(2):before
{
    content: url('../img/search_line_devider.png');
    position: relative;
    top: 3px;
    margin-left: 4px;
    margin-right: 10px;
}

header input
{
    border: 1px solid #d6d8d2;
    border-radius: 6px;
    line-height: 18px;
    /*overflow: none;*/
    padding-right: 27px;
}

div span
{
    margin-bottom: 30px;
}

.desktop-nav form
{
    margin-left: 25px;
}

.desktop-nav input
{
    width: 140px;
}

.desktop-nav form a
{
    content: url('../img/searchBtn.png');
    position: relative;
    right: 25px;
    top: 1px;
    cursor: pointer;
}

.desktop-nav form span
{
    content: url('../img/search_line_devider.png');
    position: relative;
    right: 45px;
    top: 36px;
}




/*---------------------color slides-----------------------*/
 
.slideShow
{
    background-image: url('../img/slide-bg-complexity.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    color: white;
    background-size: cover;
    padding-bottom: 15px;
}

.slideShow ul:nth-of-type(1) li
{
    position: relative;
    display: inline-block;
}

.slideShow .btn 
{
    width: 135px; 
}

.slideShowTop
{
    width: 400px;
}

.slideShowTop p 
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.slideShowTop ul
{
    padding-left: 0;
}

.centerBlock>ul
{
    padding-left: 0;    
}


.slideNoteContainer
{
    position: relative;
    display: inline-block;
    margin: auto;
}

.slideSquare
{
    display: block;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
    height: 10px;
    width: 10px;
    margin-bottom: 4px;
    cursor: pointer;
}

.slideSquare span
{
    display: none;
}

.slideSquare:hover
{
    color: white;
    background-color: rgb(22, 138, 197);

}

.slideShowSlides
{
    border-radius: 5px;
    width: 267px;
    height: 172px;
    padding-top: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    transition: all 0.3s ease-out;
    box-shadow: 2px 4px 15px  2px grey;
    cursor: pointer;
    display: block;
}

.slideShowSlides a
{
    top: 3px;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.slideShowSlides p
{
    position: relative;
    bottom: 6px;
}

.slideShowSlides a:before
{
    content: url('../img/link-icon-image.png');
    position: relative;
    top: 8px;
    right: 5px;
}

.pink
{
    background-color: rgba(245, 35, 140, 0.9); 
    margin-right: 25px;
}

.pink:hover
{
    background-color: rgb(245, 35, 140);
}

.green
{
    background-color: rgba(106, 196, 60, 0.9); 
    margin-right: 25px;
}

.green:hover
{
    background-color: rgb(106, 196, 60);
}

.orange
{
    background-color: rgba(255, 117, 24, 0.9); 
}

.orange:hover
{
    background-color: rgb(255, 117, 24);
}

.btn
{
    display: block;
    padding: 9px;
    border-radius: 7px;
    background-color: rgba(17, 133, 192, 0.85);
    border: none;
    font-size: 14px;
    margin-top: 10px;
}

.btn:hover
{
    background-color: rgba(28, 145, 204, 0.85);
}

.btn:after 
{
    content: url('../img/btnArrow.png');
    position: relative;
    float: right;
    top: 1px;
}

.btn:active , .btn:target
{
    border: hidden;
}

/*--------------solutions------------------------------*/

.solutions 
{
    background: url("../img/weDoBG.png"), radial-gradient(#59BEDB 0%, #3399CC 100%);
    color: white;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-bottom: 40px;
}

.BusinessStimulatingAnalytics div
{
    content: url("../img/solution_icon_biz-analitics.png");
}

.BusinessStimulatingAnalytics:hover div
{
    content: url("../img/solution_icon_biz-analitics_hover.png");
}

.DigitalCustomerExperience div
{
    content: url("../img/solution_icon_diti-cx.png");
}

.DigitalCustomerExperience:hover div
{
    content: url("../img/solution_icon_diti-cx_hover.png");
}

.SmartMonetization div
{
    content: url("../img/solution_icon_smart-money.png");
}

.SmartMonetization:hover div
{
    content: url("../img/solution_icon_smart-money_hover.png");
}

.OptimazationAndEfficiency div
{
    content: url("../img/solution_icon_optimize-efficnt.png");
}

.OptimazationAndEfficiency:hover div
{
    content: url("../img/solution_icon_optimize-efficnt_hover.png");
}

.PersonalizedChoiceControl div
{
    content: url("../img/solution_icon_personal.png");
}

.PersonalizedChoiceControl:hover div
{
    content: url("../img/solution_icon_personal_hover.png");
}

.BusinessTransformation div
{
    content: url("../img/solution_icon_biz-transform.png");
}

.BusinessTransformation:hover div
{
    content: url("../img/solution_icon_biz-transform_hover.png");
}

.solutions .btn 
{
    position: relative;
    margin: auto;
    width: 180px;
}   

.solutions li
{
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 155px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.solutions li div
{
    position: relative;
    margin: auto;
}

/*------------------events------------------*/
.events
{
    background-image: url('../img/news-and-events-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-bottom: 50px;
}

.events li
{
    display: inline-block;
    width: 300px;
    height: 190px;
    margin-right: 20px;
    vertical-align: top;
}

.events ul
{
    padding-left: 0;
}

.events h1
{
    position: relative;
    text-align: center;
}

.event 
{
    position: relative;
    background-color: rgba(240, 240, 240, 0.55);
    border-radius: 3px;
    height: 96px;
    display: inline-block;
    cursor: pointer;
}

.event:hover
{
    background-color: rgba(240, 240, 240, 0.90);
}

.date 
{
    background-color: #3399CC;
    width: 50px;
    border-radius: 2px;
    position: relative;
    text-align: center;
}

.date hr
{
    border: 0;
    border-bottom: 1px dashed #ccc;
    margin-top: 4px;
    margin-bottom: 4px;
}

.date p:nth-of-type(1) 
{
    font-size: 34px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.date p:nth-of-type(2) 
{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

.eventText
{
    position: relative;
    vertical-align: top;
    color: black;
    width: 220px;
    font-size: 16px;
    text-align: left;
}

.eventText p
{
    position: relative;
    vertical-align: top;
    margin-top: 5px;
}

.event > div
{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.events a
{
    position: relative;
    top: 15px;
    left: 7px;
}

.events a:hover
{
    color: black;
}

.events li:nth-of-type(1) a:before
{
    content: url('../img/eventListIconNews.png');
    position: relative;
    right: 5px;
}

.events li:nth-of-type(2) a:before
{
    content: url('../img/eventListIconEvents.png');
    position: relative;
    right: 5px;
}

.events li:nth-of-type(3) a:before
{
    content: url('../img/eventListIconPress.png');
    position: relative;
    right: 5px;
}

.events li:nth-of-type(1) a:hover:before
{
    content: url('../img/eventListIconNews_hover.png');
}

.events li:nth-of-type(2) a:hover:before
{
    content: url('../img/eventListIconEvents_hover.png');
}

.events li:nth-of-type(3) a:hover:before
{
    content: url('../img/eventListIconPress_hover.png');
}

/*------------------success stories------------------*/

.successStories
{
    background-color: #f7eee6;
    padding-bottom: 40px;
}

.successStories .btn 
{
    position: relative;
    margin: auto;
    width: 180px;
}   

.successStories h1
{
    text-align: center;
}

.successStories ul >*
{
    display: inline-block;
    vertical-align: top;
}

.storyContainer
{
    height: 380px;
    width: 360px;
}

.storyContainerThird
{
    height: 380px;
    width: 236px;
}

.storyQuoteContainer
{
    height: 215px;
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 3px;
    margin-bottom: 16px;
}

.topQuote> *
{
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    vertical-align: top;
}

.topQuote p 
{
    width: 200px;
    font-size: 17px;
}

.topQuote
{
    height: 132;
}

.topQuote img
{
    border-radius: 4px;
}

.topQuote p:before
{
    content: url('../img/quote-grey.png');
}

.storyQuoteContainer hr
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.bottomQuote
{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.name
{
    color: #3ea9e8;
    margin-top: 0;
    margin-bottom: 0;
}

.title
{
    margin-top: 2px;
    margin-bottom: 0;
}

.bottomQuote img
{
    float: right;
}

.storyLittleBox
{
    height: 110px;
    width: 110px;
    border-radius: 2px;
}

.storyLittleBox:hover
{
    content: url('../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg');
    cursor: pointer;
}

.storyContainer ul, .storyContainerThird ul
{
    padding-left: 0;
    margin-bottom: 16px;
}

.storyContainer li:nth-of-type(2)
{

    margin-left: 11px;
    margin-right: 10px;
}

.storyContainerThird li:nth-of-type(2)
{
    margin-left: 11px;
}

.VIDEOCON
{
    content: url('../img/VIDEOCON_w108px_X_h95px.jpg');
}

.Kyivstar
{
    content: url('../img/Kyivstarw_w108px_X_h95.jpg');
}

.play
{
    content: url('../img/play_w108px_X_h95px.jpg');
}

.comp-logos:first-of-type
{
    display: block;
}

.comp-logos:nth-of-type(2)
{
    display: none;
}

/*--------footer-------*/
.mobile-footer
{
    display: none;
}

.desktop-footer
{
    display: block;
}

footer
{
    background-image: url("../img/weDoBG.png");
    background-color: rgb(20, 20, 20);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;
}

footer ul
{
    margin-top: 0;
}

.desktop-footer .centerBlock > ul > *
{
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.desktop-footer > .centerBlock > ul
{
    position: relative;
    height: 100%;
    margin-bottom: 0;
}
.desktop-footer h4
{
    font-size: 13.5px;
}

.footer-col
{
    position: relative;
    display: inline-block;
    margin-right: 30px;
    height: 100%;
}

.footer-col:nth-of-type(4)
{
    position: relative;
    background-color: rgba(50, 50, 50, 0.9);
    text-align: center;
    width: 215px;
    height: 340px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-col ul
{
    padding-left: 0;
}

.footer-col li
{
    cursor: pointer;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 13.5px;
    height: 100%;

}

.footer-col:nth-of-type(4) h4
{
    color: rgb(41, 150, 208);
    font-size: 14px;
    margin-bottom: 2px;
}

.footer-col li:hover
{
    text-decoration: underline;
}

.yt-icon
{
    content: url("../img/socialMenuIcon-youtube.png");
}

.yt-icon:hover
{
    content: url("../img/socialMenuIcon-youtube_hover.png");
}

.twitter-icon
{
    content: url("../img/socialMenuIcon-twitter.png");
}

.twitter-icon:hover
{
    content: url("../img/socialMenuIcon-twitter_hover.png");
}

.li-icon
{
    content: url("../img/socialMenuIcon-linkdin.png");
}

.li-icon:hover
{
    content: url("../img/socialMenuIcon-linkdin_hover.png");
}

.date-footer
{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 50px;
}

.date-footer p:first-of-type
{
    font-size: 35px;
    font-weight: 600;
    margin: 0;
}

.date-footer p:nth-of-type(2)
{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-left: 3px;
}

.footer-col article > p 
{
    position: relative;
    font-size: 13.5px;
    width: 140px;
    text-align: left;
    margin-left: 20px;
    top: 4px;
}

.footer-col article > *
{
    display: inline-block;
    vertical-align: middle;
}

.desktop-footer form 
{
    display: inline-block;
    margin-top: 12px;
}

.desktop-footer form input
{
    line-height: 25px;
    border: none;
    border-radius: 3px;
    padding-left: 6px;
    width: 209px;
}

.desktop-footer form button
{
    line-height: 25px;
    border: none;
    border-radius: 3px;
    background-color: rgb(17, 133, 192);
    color: white;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    float: right;
    bottom: 27px;
}

.social-icons
{
    position: relative;
    margin-right: 10px;
    top: 60px;
    float: left;
    cursor: pointer;
}

.desktop-footer > .centerBlock > span
{
    position: relative;
    font-size: 12px;
    bottom: 0;
    color: grey;
    margin-bottom: 0;
}

/*-------------media queries-------------*/
@media all and (max-width: 1030px)
{
    .centerBlock
    {
        width: 99%;
    }

    .desktop-nav > ul > li > a
    {
        font-size: 12px;
    }

    header img:first-of-type
    {
        display: none;
    }

    header img:nth-of-type(2)
    {
        display: block;
    }

    .desktop-nav > div > span
    {
        font-size: 12px;
    }

    .desktop-nav input
    {
        width: 100px;
    }

    .desktop-nav li
    {
        margin-left: 5px;
        margin-right: 5px;
    }

    .slideShowSlides
    {
        width: 185px;
        height: 160px;
        font-size: 16px;
    }

    .slideShowTop
    {
        padding-left: 10px;
    }

    .solutions ul
    {
        max-width: 520px;
        margin-left: auto;
        margin-right: auto;
    }

    .events .centerBlock 
    {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
    }

    .eventText, .events li 
    {
        text-align: left;
    }

    .events
        {
            padding-bottom: 20px;
        }

    .events ul li
    {
        margin-bottom: 30px;
    }

    .successStories .centerBlock
    {
        position: relative;
        text-align: center;
    }

    .footer-col:first-of-type
    {
        margin-left: 10px;
    }


}

@media all and (max-width: 912px)
{
    .footer-col:nth-of-type(4)
    {
        margin-right: 0;
    }

    .footer-col:nth-of-type(1), .footer-col:nth-of-type(2), .footer-col:nth-of-type(3)
    {
        max-width: 149px;
        margin-right: 20px;
    }

    .footer-col li 
    {
        font-size: 12px;
    }

    
}

/*mobile*/
@media all and (max-width: 775px)
{

     .slideShow
    {
        background-image: none;
        padding-bottom: 0;
    }

    h1
    {
        top: 15px;
        margin-bottom: 0;
    }

    .slideShowTop
    {
        background-image: url('../img/slide-bg-complexity.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        color: white;
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
    }

    .slideShow a
    {
        margin-bottom: 120px;
        margin-top: 12px;
        margin-left: 10px;
    }

    .slideShow ul
    {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 10px;
    }

    .centerBlock
    {
        width: 99%;
    }

    .slideShowSlides
    {
        width: 97%;
        max-width: 97%;
        position: relative;
        margin-bottom: 10px;
        border-radius: 0;
        margin-right: 0;
        margin-left: 0;
        left: -10px;
    }



    .slideNoteContainer
    {
        width: 100%;
    }

    .slideShowSlides:before
    {
        position: relative;
        content: url('../img/promotion-item-arrow.png');
        float: right; 
        top: 72px;   
        left: 0;
    }

    .slideSquare
    {
        margin-top: 20px;
        height: 38px;
        width: 38px;
        font-size: 16px;
        color: grey;
        margin-right: 8px;
        text-align: center;
    }

    .slideSquare span
    {
        display: block;
        position: relative;
        top: 8px;
        margin-bottom: 0;
    }

    .mobile-blue-header p:first-of-type
    {
        margin-top: 35px;
    }

    .desktop-nav
    {
        display: none;
    }

    .mobile-nav
    {
        display: block;
    }

    .mobile-nav-btn
    {
        padding: 10px;
        border-radius: 2px;
        border: grey 1px solid;
        cursor: pointer;
        height: 23px;
        width: 23px;
        background-color: rgb(240, 240, 240);
        margin: 5px;
    }

    .mobile-nav-btn:hover
    {
        background-color: rgb(225, 225, 225);
    }

    .mobile-nav-btn:active
    {
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }

    .mobile-nav-btn:first-of-type
    {
        content: url('../img/hamburger-icon.png');
        position: absolute;
        top: 0;    
        left: 0;
    }
    .mobile-nav-btn:nth-of-type(2)
    {
        content: url('../img/searchBtnMobile.png');
        position: absolute;
        top: 0;
        right: 0;
    }

    .hamburger-nav:checked ~ ul
    {
        display: block;
        text-align: left;
        width: 100%;
        padding-left: 0;
        z-index: 10;
        position: absolute;
    }

    .search-mobile-nav:checked ~ .mobile-search-input
    {
        display: block;
        z-index: 15;
        position: absolute;
    }
    
    .mobile-nav li
    {
        background-color: rgb(245, 245, 245);
        padding: 5px;
        padding-left: 10px;
        border-bottom: grey solid 1px;
        cursor: pointer;
    }

    .mobile-nav li:hover
    {
        background-color: rgb(230, 230, 230);
    }

    .mobile-nav li:nth-of-type(4)
    {
        border-bottom: none;
    }


    .mobile-nav li a
    {
        position: relative;
        left: 15px;
        width: 100%;
    }

    .hamburger-nav:checked ~ ul li:before
    {
        content: url('../img/navCollapseArrowRight.png');
        position: relative;
        bottom: 2px;
    }

    .mobile-search-input
    {
        width: 97%;
        font-size: 16px;
        line-height: 30px;
        padding-left: 4px;
        padding-right: 4px;
        border-radius: 3px;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .mobile-blue-header
    {
        background: url("../img/weDoBG.png"), linear-gradient(rgba(59, 170, 199, 0.9) 0%, rgba(31, 133, 184, 0.9) 100%);
        padding: 10px;
        margin-top: 40px;
    }

    .solutions
    {
        padding-bottom: 10px;
    }

    .solutions li
    {
        margin-right: 0;
        margin-left: 0;
        margin-top: 10px;
        width: 32%;
    }


    

    .solutions p
    {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .solutions .btn
    {
        display: none;
    }

    .events ul
    {
        display: block;
        position: relative;
        width: 100%;
    }

    .events li
    {
        display: block;
        width: 100%;
    }

    .event
    {
        position: relative;
        width: 100%;
    }

    .eventText
    {
        width: 65%;
    }

    .events
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .comp-logos:first-of-type
    {
        display: none;
    }

    .comp-logos:nth-of-type(2)
    {
        display: block;
    }

    .successStories .storyContainerThird
    {
        display: none;
    }

    .storyContainer
    {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .successStories ul 
    {
        text-align: center;
    }

    .mobile-footer
    {
        display: block;
    }

    .desktop-footer
    {
        display: none;
    }

    .mobile-footer li
    {
        border-bottom: black solid 1px;
        vertical-align: middle;
        padding: 5px;
        padding-left: 20px;
        height: 25px;
        cursor: pointer;
    }

    .mobile-footer ul
    {
        padding-left: 0;
        margin-bottom: 0;
    }

    .mobile-footer li:hover
    {
        background-color: rgb(32, 32, 32);
    }

    .mobile-footer > a
    {
        position: relative;
        content: url("../img/back_top.png");
        float: right;
        bottom: 30px;
        margin-right: 20px;
    }

    .twitter-icon, .yt-icon, .li-icon
    {
        margin-left: 15px;
        vertical-align: middle;
    }

    .mobile-footer select
    {

        background-color: rgba(100, 100, 100, 0.5);
        border-radius: 2px;
        border: none;
        color: white;
        height: 24px;
        padding-right: 5px;
        padding-left: 5px;
    }

    .mobile-footer form
    {
        position: relative;
        display: inline-block;
        margin-left: 20px;
    }

    .mobile-footer > span
    {
        position: relative;
        display: block;
        background-color: white;
        color: black;
        width: 100%;
        height: 100%;
        border-bottom: none;
        font-size: 14px;
        text-align: center;
    }

    
    


}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
