/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Vika's custom styles
   ========================================================================== */
body
{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

ul
{
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: white; 
}

h1
{
    font-size: 35px;
    font-weight: normal;
    margin-top: 0;
    position: relative;
    padding-bottom: 10px;
    top: 40px;
} 

h2
{
    font-size: 28px;
    font-weight: normal;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
} 

h3
{
    font-size: 20px;
    font-weight: 600;
    color: blue;
} 

h4
{
    font-size: 16px;
    font-weight: 550;
} 

.centerBlock
{
    margin-left: auto;
    margin-right: auto;
    width: 985px;
}

/*---------------------------------------------------*/

header
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    width: 100%;
    vertical-align: bottom;
    padding-bottom: 10px;
}

header > *
{
    display: inline-block;
}

nav
{
    display: inline-block;
    vertical-align: bottom;
}

nav > *
{
    display: inline-block;
}

nav ul
{
    margin-bottom: 0;
    padding-left: 15px;
}

nav li
{
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 500;
    top: 4px;
    cursor: pointer;
}

nav li:nth-of-type(1):after, nav li:nth-of-type(2):after, nav li:nth-of-type(3):after
{
    content: url('../img/search_line_devider.png');
    position: relative;
    top: 4px;
    left: 10px;
}

nav div 
{
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

nav div > span:first-of-type:after
{
    content: url('../img/navCollapseArrowBottom.png');
    position: relative;
    bottom: 4px;
    margin-left: 4px;
    margin-right: 10px;
}

nav div > span:nth-of-type(2):before
{
    content: url('../img/search_line_devider.png');
    position: relative;
    top: 3px;
    margin-left: 4px;
    margin-right: 10px;
}

header input
{
    border: 1px solid #d6d8d2;
    border-radius: 6px;
    line-height: 18px;
    /*overflow: none;*/
    padding-right: 27px;
}

div span
{
    margin-bottom: 30px;
}

nav form
{
    margin-left: 25px;
}

nav input
{
    width: 140px;
}

nav a
{
    content: url('../img/searchBtn.png');
    position: relative;
    right: 25px;
    top: 1px;
    cursor: pointer;
}

nav form span
{
    content: url('../img/search_line_devider.png');
    position: relative;
    right: 45px;
    top: 36px;
}


/*---------------------------------------------------*/
 
.slideShow
{
    background-image: url('../img/slide-bg-complexity.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    color: white;
    
    background-size: cover;
    padding-bottom: 15px;
}


/*.slideShow h1
{
    position: relative;
    padding-bottom: 10px;
    top: 40px;
}*/

.slideShow ul:nth-of-type(1) li
{
    position: relative;
    display: inline-block;
}

.slideShow .btn 
{
    width: 135px; 
}

.slideShowTop
{
    width: 400px;
    /*padding-left: 20px;*/
}

.slideShowTop p 
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.slideShowTop ul
{
    padding-left: 0;
}

.centerBlock>ul
{
    padding-left: 0;    
}


.slideNoteContainer
{
    position: relative;
    display: inline-block;
    margin: auto;
}

.slideSquare
{
    display: block;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
    height: 10px;
    width: 10px;
    margin-bottom: 4px;
    cursor: pointer;
}

.slideSquare:first-child
{
    background-color: rgb(22, 138, 197);
}

.slideShowSlides
{
    border-radius: 5px;
    width: 267px;
    height: 172px;
    padding-top: 0.5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    transition: all 0.3s ease-out;
    box-shadow: 2px 4px 15px  2px grey;
    /*word-spacing: 2px;*/
}

.slideShowSlides a
{
    position: relative;
    top: 3px;
    font-size: 14px;
    font-weight: 600;
}

.slideShowSlides p
{
    position: relative;
    bottom: 6px;
}

.slideShowSlides a:before
{
    content: url('../img/link-icon-image.png');
    position: relative;
    top: 8px;
    right: 5px;
}

.pink
{
    background-color: rgba(245, 35, 140, 0.9); 
    margin-right: 25px;
}

.pink:hover
{
    background-color: rgb(245, 35, 140);
}

.green
{
    background-color: rgba(106, 196, 60, 0.9); 
    margin-right: 25px;
}

.green:hover
{
    background-color: rgb(106, 196, 60);
}

.orange
{
    background-color: rgba(255, 117, 24, 0.9); 
}

.orange:hover
{
    background-color: rgb(255, 117, 24);
}

.btn
{
    display: block;
    padding: 9px;
    border-radius: 7px;
    background-color: rgba(17, 133, 192, 0.85);
    border: none;
    font-size: 14px;
    margin-top: 10px;
}

.btn:hover
{
    background-color: rgba(28, 145, 204, 0.85);
}

.btn:after 
{
    content: url('../img/btnArrow.png');
    position: relative;
    float: right;
    top: 1px;
}

.btn:active , .btn:target
{
    border: hidden;
}

/*--------------------------------------------*/

.solutions 
{
    background: url("../img/weDoBG.png"), radial-gradient(#59BEDB 0%, #3399CC 100%);
    color: white;
    text-align: center;
    background-position: center;
    background-attachment: fixed;
    color: white;
    padding-bottom: 40px;
}

/*.solutions ul
{
    position: relative;
    display: inline-block;
}*/

.BusinessStimulatingAnalytics
{
    content: url("../img/solution_icon_biz-analitics.png");
    cursor: pointer;
}

.BusinessStimulatingAnalytics:hover
{
    content: url("../img/solution_icon_biz-analitics_hover.png");
}

.DigitalCustomerExperience
{
    content: url("../img/solution_icon_diti-cx.png");
    cursor: pointer;
}

.DigitalCustomerExperience:hover
{
    content: url("../img/solution_icon_diti-cx_hover.png");
}

.SmartMonetization
{
    content: url("../img/solution_icon_smart-money.png");
    cursor: pointer;
}

.SmartMonetization:hover
{
    content: url("../img/solution_icon_smart-money_hover.png");
}

.OptimazationAndEfficiency
{
    content: url("../img/solution_icon_optimize-efficnt.png");
    cursor: pointer;
}

.OptimazationAndEfficiency:hover
{
    content: url("../img/solution_icon_optimize-efficnt_hover.png");
}

.PersonalizedChoiceControl
{
    content: url("../img/solution_icon_personal.png");
    cursor: pointer;
}

.PersonalizedChoiceControl:hover
{
    content: url("../img/solution_icon_personal_hover.png");
}

.BusinessTransformation
{
    content: url("../img/solution_icon_biz-transform.png");
    cursor: pointer;
}

.BusinessTransformation:hover
{
    content: url("../img/solution_icon_biz-transform_hover.png");
}

.solutions .btn 
{
    position: relative;
    margin: auto;
    width: 180px;
}   

.solutions ul > *
{
    display: inline-block;
    vertical-align: top;
}

.solutions ul li
{
    margin-top: 40px;
    margin-bottom: 20px;
}

.solutions li
{
    width: 155px;
}

.solutions li div
{
    position: relative;
    margin: auto;
}

/*------------------------------------*/
.events
{
    background-image: url('../img/news-and-events-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-bottom: 50px;
}

.events ul li
{
    display: inline-block;
    width: 300px;
    height: 190px;
    margin-right: 20px;
    vertical-align: top;
}

.events ul
{
    padding-left: 0;
}

.events h1
{
    position: relative;
    text-align: center;
}

.event 
{
    position: relative;
    background-color: rgba(240, 240, 240, 0.55);
    border-radius: 3px;
    height: 96px;
    display: inline-block;
    cursor: pointer;
}

.event:hover
{
    background-color: rgba(240, 240, 240, 0.90);
}

.date 
{
    background-color: #3399CC;
    width: 50px;
    border-radius: 2px;
    position: relative;
    text-align: center;
}

.date hr
{
    border: 0;
    border-bottom: 1px dashed #ccc;
    margin-top: 4px;
    margin-bottom: 4px;
}

.date p:nth-of-type(1) 
{
    font-size: 34px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.date p:nth-of-type(2) 
{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

.eventText
{
    position: relative;
    vertical-align: top;
    color: black;
    width: 220px;
    font-size: 16px;
    text-align: left;
}

.eventText p
{
    position: relative;
    vertical-align: top;
    margin-top: 5px;
}

.event > div
{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.events a
{
    position: relative;
    top: 15px;
    left: 7px;
}

.events a:hover
{
    color: black;
}

.events li:nth-of-type(1) a:before
{
    content: url('../img/eventListIconNews.png');
    position: relative;
    right: 5px;
}

.events li:nth-of-type(2) a:before
{
    content: url('../img/eventListIconEvents.png');
    position: relative;
    right: 5px;
}

.events li:nth-of-type(3) a:before
{
    content: url('../img/eventListIconPress.png');
    position: relative;
    right: 5px;
}

.events li:nth-of-type(1) a:hover:before
{
    content: url('../img/eventListIconNews_hover.png');
}

.events li:nth-of-type(2) a:hover:before
{
    content: url('../img/eventListIconEvents_hover.png');
}

.events li:nth-of-type(3) a:hover:before
{
    content: url('../img/eventListIconPress_hover.png');
}

/*------------------------------------*/

.successStories
{
    background-color: #f7eee6;
    padding-bottom: 40px;
}

.successStories .btn 
{
    position: relative;
    margin: auto;
    width: 180px;
}   

.successStories h1
{
    text-align: center;
}

.successStories ul >*
{
    display: inline-block;
    vertical-align: top;
}

.storyContainer
{
    height: 380px;
    width: 360px;
}

.storyContainerThird
{
    height: 380px;
    width: 236px;
}

.storyQuoteContainer
{
    height: 215px;
    /*width: 360px;*/
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 3px;
    margin-bottom: 16px;
}

.topQuote> *
{
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    vertical-align: top;
}

.topQuote p 
{
    width: 200px;
    font-size: 17px;
}

.topQuote
{
    /*width: 360;*/
    height: 132;
}

.topQuote img
{
    border-radius: 4px;
}

.topQuote p:before
{
    content: url('../img/quote-grey.png');
}

.storyQuoteContainer hr
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px;
    margin-right: 16px;
}

.bottomQuote
{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.name
{
    color: #3ea9e8;
    margin-top: 0;
    margin-bottom: 0;
}

.title
{
    margin-top: 2px;
    margin-bottom: 0;
}

.bottomQuote img
{
    float: right;
}

.storyLittleBox
{
    height: 110px;
    width: 110px;
    border-radius: 2px;
}

.storyLittleBox:hover
{
    content: url('../img/logos_generic_2nd_side_cut_02_w108px_x_h95px.jpg');
    cursor: pointer;
}

.storyContainer ul, .storyContainerThird ul
{
    padding-left: 0;
    margin-bottom: 16px;
}

.storyContainer li:nth-of-type(2)
{

    margin-left: 11px;
    margin-right: 10px;
}

.storyContainerThird li:nth-of-type(2)
{
    margin-left: 11px;
}

.VIDEOCON
{
    content: url('../img/VIDEOCON_w108px_X_h95px.jpg');
}

.Kyivstar
{
    content: url('../img/Kyivstarw_w108px_X_h95.jpg');
}

.play
{
    content: url('../img/play_w108px_X_h95px.jpg');
}

/*


.storyLittleBox
{
    height: 107px;
    width: 107px;
}



.storyContainer ul>*
{
    display: inline-block;
}



.storyContainer:nth-of-type(1) ul
{
    position: relative;
    top: 7px;
}





.topQuote
{
    position: relative;
    vertical-align: top;
    margin: auto;
    width: 340px;
    border: 1px blue solid;
    padding-left: 10px;
    height: 120px;
}

.topQuote >*
{
    display: inline-block;
    vertical-align: top;
    top: 16px;
}

.topQuote p
{
    width: 182px;
    font-size: 16px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 25px;
    border: green 1px solid;

}

*/

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
